h1 {
    
    font-family: 'Exo', sans-serif;
    color: white;
}


body{
    background-image: url(../players/champions-league-stadium.jpeg);
    position: relative;
    margin: auto;
}

.team-map{
padding-left: 597px;
    
    
}

#maps{
    

    display: flex; 
    flex-direction: column; 
    background-repeat: no-repeat;
    background-size: contain;
    height: fit-content;
    
    
}
    
    

    

a{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
  
    position: absolute;
    background-size: cover;
    font-size: 0.8rem;
  text-decoration: underline;
  position: absolute;
   
    
}

.game{
    position: absolute;
}

