h1 {
    
    font-family: 'Exo', sans-serif;
    color: white;
}


body{
    background-image: url(../players/champions-league-stadium.jpeg)
}

#team-map{

}

#maps{
    

    display: flex; 
    flex-direction: column; 
}
    
    

    

a{
    color: yellow;
    display: flex;
    flex-direction: column;
    padding: 60px;
    position: absolute;
    background-size: cover;
  
   
    margin: 50px;
}

